@charset "UTF-8";
/* Selectores de tipo etiqueta  */
* {
  margin: 0;
  padding: 0; }

/* Tipografía */
@font-face {
  font-family: "poppins";
  src: url(../recursos/Tipografia/Poppins-Light.ttf); }

/* FONDO */
body {
  background-image: url(../recursos/Fondo.jpg);
  background-size: cover; }

@media (max-width: 991px) {
  body {
    background-image: none; } }

/* NAVBAR */
.logo {
  width: 120px;
  margin-left: 10px;
  margin-top: 10px; }

.container-fluid {
  background-color: transparent;
  font-family: "poppins";
  font-size: large; }

.navbar-toggler {
  border: none; }

.navbar-toggler:focus {
  box-shadow: none; }

.nav-link {
  color: aliceblue !important; }

.navbar-nav {
  align-items: flex-end;
  margin-right: 15px; }

.nav-item {
  margin-right: 20px;
  margin-top: 30px; }

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-image: linear-gradient(#9154e6c2, #9663E0); }

.spotify {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  margin-top: 170px; }

@media (max-width: 991px) {
  .nav-link {
    color: white !important; }
  svg {
    color: white; }
  .nav-item {
    margin-right: 0px;
    margin-top: 0px; } }

.spotify {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between space-around;
  justify-content: center; }

/* HOME*/
.presentacion {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }
  .presentacion .parrafo-presentacion {
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px; }
  .presentacion .imagen-propia {
    width: 600px;
    transform: rotateZ(5deg);
    transition: all 2s; }
  .presentacion .uno {
    color: #9b9b9b;
    font-family: "poppins";
    font-size: 20pt;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px; }
  .presentacion .dos {
    color: #FDB52C;
    font-family: "poppins";
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    font-weight: 1900;
    padding-bottom: 20px;
    border-bottom: 10px solid #9359E3; }
  .presentacion .tres {
    color: #9b9b9b;
    font-family: "poppins";
    font-size: medium;
    font-weight: 100;
    text-align: center;
    margin-top: 30px; }
  .presentacion .cuatro {
    color: #9b9b9b;
    font-family: "poppins";
    font-size: medium;
    font-weight: 100;
    text-align: center; }
  .presentacion .agustinaquintana {
    color: #9359E3;
    font-family: "poppins" extrabold;
    font-size: 30pt;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; }
  .presentacion .enproceso {
    color: #9b9b9b;
    font-family: "poppins";
    font-size: 16pt;
    font-weight: lighter;
    margin-bottom: 20px; }

.curriculum {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .curriculum .parrafo-capacidades {
    color: #3d3d3d;
    font-family: "poppins";
    font-size: medium;
    text-align: left;
    line-height: 30.5pt;
    list-style: none; }
  .curriculum .cv {
    width: 580px;
    margin-bottom: -200px; }
  .curriculum .titulo-capacidades {
    margin-top: 100px;
    color: #9359E3;
    font-family: "poppins";
    font-size: xxx-large;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 20px; }

.boton {
  background-color: #FDB52C;
  border-radius: 15px;
  padding: 15px;
  font-family: "poppins";
  color: #ffffff;
  border: 0;
  font-weight: lighter;
  font-size: large;
  box-shadow: 2px 4px 4px 2px #6e6e6e33; }

.boton-contactame {
  display: flex;
  justify-content: left;
  margin-left: 295px;
  margin-top: -50px; }

.boton-curriculum {
  display: flex;
  justify-content: center;
  margin-left: 300px; }

.nav-link:hover {
  background-color: #8144b6;
  border-radius: 7px;
  padding: 7px; }

h6 {
  color: #a658eacb;
  font-family: "poppins";
  font-size: xx-large;
  text-align: center;
  margin-top: 300px;
  margin-bottom: -100px; }

/* CARDS */
.grilla-home {
  display: grid;
  margin-left: 250px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "im1 im2 im3";
  width: 70%;
  margin-top: 200px;
  margin-bottom: 200px; }

.im-1 {
  grid-area: im1;
  margin-right: 60px; }

.im-3 {
  grid-area: im3;
  margin-right: 60px; }

.im-2 {
  grid-area: im2;
  margin-right: 60px; }

.card-home img {
  width: 87%;
  margin-left: 15px;
  margin-top: 15px; }

.card-home .contenido {
  padding: 20px; }

.card-home {
  width: 90%;
  border-radius: 30px;
  border-top-right-radius: 125px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px #dddddd; }

.card-home:hover {
  box-shadow: 0px 1px 10px #727272;
  transform: translatey(-3%); }

.card-home h3 {
  color: blueviolet;
  margin-bottom: 10px;
  font-family: "poppins";
  font-weight: bolder;
  font-size: large; }

.card-home .contenido p {
  color: #4e4e4e;
  font-size: small;
  font-family: "poppins"; }

.card-home .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-left: 75px;
  background-color: #FDB52C;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 7px #888888;
  font-weight: normal;
  font-family: "poppins";
  font-size: small; }

.container__box {
  max-width: 700px;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  .container__box .box {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all 300ms ease;
    position: relative;
    box-shadow: 0px 0px 30px -15px rgba(43, 43, 43, 0.5);
    transform: rotateZ(360deg);
    transition: all 2s; }

img {
  width: 40px; }

.box h5 {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 13px;
  color: #969696; }

.box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(129, 129, 129, 0.5);
  background: #8144b6; }

.box:hover h5 {
  color: #ffffff;
  opacity: 0; }

.box h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  bottom: 30px;
  filter: blur(5px);
  opacity: 0; }

.box:hover h4 {
  font-size: 13px;
  opacity: 1;
  filter: blur(0px);
  color: #ffffff;
  transition: all 400ms ease; }

@media (max-width: 991px) {
  .parrafo-capacidades {
    text-align: center; }
  .algunos-proyectos {
    margin-bottom: 100px; }
  .boton-contactame {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: 50px; }
  .boton-curriculum {
    display: flex;
    justify-content: start;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: -80px; }
  .cv {
    margin-top: -200px; }
  .imagen-propia {
    width: 300px; }
  .titulo-capacidades {
    text-align: center; }
  .presentacion {
    display: flex;
    grid-template-areas: "cv parrafo-capacidades";
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
  .grilla-home {
    grid-template-columns: 1fr;
    grid-template-areas: "im1" "im2" "im3";
    margin: auto; }
  .card-home {
    margin-bottom: 80px; }
  .card-home:hover {
    transform: translatey(0%); }
  .container__box {
    justify-content: center; }
    .container__box .box {
      width: 0px;
      height: 0px;
      margin: 50px;
      transition: none;
      position: 0;
      box-shadow: 0px; }
  img {
    width: 20px; }
  .box h5 {
    font-size: 10px;
    color: #969696; }
  .box:hover {
    transform: none;
    box-shadow: 0px;
    background: none; }
  .box:hover h5 {
    color: #969696;
    opacity: 100; } }

/* SOBRE MI */
.main-sobre-mi {
  color: #646464;
  font-family: "poppins";
  font-weight: lighter;
  font-size: medium;
  margin: 50px;
  margin-top: 250px; }

.texto-sobre-mi {
  margin-top: 80px; }

.texto-s-m {
  color: #a658eacb;
  font-family: "poppins";
  font-size: xxx-large;
  font-weight: inherit;
  margin-bottom: 30px;
  text-decoration: overline; }

.foto-sobre-mi {
  width: 550px; }

.main-sobre-mi {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-areas: "foto-sobre-mi texto-sobre-mi";
  justify-content: space-between; }

foto-sobre-mi {
  grid-area: foto-sobre-mi; }

texto-sobre-mi {
  grid-area: texto-sobre-mi; }

@media (max-width: 991px) {
  .main-sobre-mi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "foto-sobre-mi" "texto-sobre-mi";
    justify-content: space-between; }
  .main-sobre-mi {
    font-size: small; }
  .foto-sobre-mi {
    width: 250px; } }

/* PORTFOLIO */
.titulo-portfolio {
  color: #a658eacb;
  font-family: "poppins";
  font-size: xxx-large;
  font-weight: normal;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  margin-top: 250px;
  margin-bottom: -150px; }

/* GRIDS CARD PORTFOLIO */
.grillapadre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "im1 im2 im3" "im4 im5 im6";
  align-items: end;
  width: 70%;
  margin: auto;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px; }

.im1 {
  grid-area: im1;
  margin-right: 60px; }

.im3 {
  grid-area: im3;
  margin-right: 60px; }

.im2 {
  grid-area: im2;
  margin-right: 60px; }

.im4 {
  grid-area: im4;
  margin-right: 60px; }

.im5 {
  grid-area: im5;
  margin-right: 60px; }

.im6 {
  grid-area: im6;
  margin-right: 60px; }

.card-portfolio {
  width: 100%;
  margin: 20px;
  border-radius: 30px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px #dddddd; }

.card-portfolio img {
  width: 90%;
  margin-left: 15px;
  margin-top: 15px; }

.card-portfolio .contenido {
  padding: 20px; }

.card-portfolio .contenido p {
  color: #4e4e4e;
  font-size: small; }

.card-portfolio .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-left: 130px;
  background-color: #791bd1cb;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 7px #888888;
  font-weight: normal; }

.card-portfolio {
  width: 100%;
  margin: 20px;
  border-radius: 30px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px #dddddd; }

.card-portfolio:hover {
  box-shadow: 0px 1px 10px #727272;
  transform: translatey(-3%); }

.card:hover {
  box-shadow: 0px 1px 10px #727272;
  transform: translatey(-3%); }

.card-portfolio img {
  width: 90%;
  margin-left: 15px;
  margin-top: 15px; }

.card-portfolio .contenido {
  padding: 20px; }

.card-portfolio h3 {
  color: blueviolet;
  margin-bottom: 10px;
  font-family: "poppins";
  font-weight: bolder; }

.card-portfolio .contenido p {
  color: #4e4e4e;
  font-size: small;
  font-family: "poppins"; }

.card-portfolio .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-left: 150px;
  background-color: #FDB52C;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 7px #888888;
  font-weight: normal;
  font-family: "poppins"; }

@media (max-width: 991px) {
  .grillapadre {
    grid-template-columns: 1fr;
    grid-template-areas: "im1" "im2" "im3" "im4" "im5" "im6"; } }

/* COMUNIDAD */
.maincomunidad {
  color: #730fa1cb;
  text-decoration: none;
  font-family: "poppins";
  font-weight: lighter;
  font-size: larger; }

.carousel-inner {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 200px; }

iframe {
  width: 700px; }

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #ffffff; }

.parrafo-comunidad {
  font-size: medium;
  text-align: center;
  margin-top: 200px;
  color: #6e6e6e; }

@media (max-width: 991px) {
  iframe {
    width: 400px; } }

/* CONTACTO */
.titulo-contacto {
  color: #a658eacb;
  font-family: "poppins";
  font-size: xxx-large;
  font-weight: normal;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  margin-top: 250px; }

.contactame {
  margin-left: 20px;
  display: block; }

.formulariodecontacto {
  margin-top: 90px; }

.parrafo-contacto {
  margin-left: 120px;
  font-size: large;
  font-family: "poppins";
  margin-top: 50px; }

.first_col {
  background-color: #d0bbf8;
  height: 550px;
  position: relative;
  width: 450px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px #5c5c5c;
  margin: auto;
  margin-top: -30px; }

.btn-primary {
  background-color: #FDB52C;
  border: none; }

.btn-primary:hover {
  background-color: #ffa600; }

.form-control {
  height: 52px;
  font-size: 14px;
  font-family: "poppins"; }

label {
  font-family: "poppins"; }

.img-fluid {
  width: 90%;
  margin-top: -100px; }

@media (max-width: 991px) {
  .img-fluid {
    width: 0%; } }

/* FOOTER */
.iconos {
  display: flex;
  justify-content: center;
  gap: 10px; }

.linkedin:hover {
  transform: translatey(-7%); }

.instagram:hover {
  transform: translatey(-7%); }

.behance:hover {
  transform: translatey(-7%); }

footer img {
  margin-bottom: 20px;
  width: 35px; }

.copyright {
  color: #313131;
  font-family: "poppins";
  font-size: small;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px; }
