@charset "UTF-8";
/* Selectores de tipo etiqueta  */
* {
  margin: 0;
  padding: 0; }

/* Tipografía */
@font-face {
  font-family: "poppins";
  src: url(../recursos/Tipografia/Poppins-Light.ttf); }

/* FONDO */
body {
  background-image: url(../recursos/Fondo.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat; }

.circlegrande {
  position: absolute;
  margin-top: 90px;
  margin-right: 1400px;
  width: 250px;
  height: 250px;
  background: #FDB52C;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-inline-start: -130px;
  transform: translatey(10px);
  transition: all 2s; }

.circlegrande-dos {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #9359E3;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-inline-start: -130px;
  transform: translatey(10px);
  transition: all 5s; }

@media (max-width: 991px) {
  body {
    background-image: none; } }

/* NAVBAR */
.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-image: linear-gradient(#9154e6c2, #945FE1);
  background-color: transparent;
  font-family: "poppins";
  font-size: large; }
  .navbar > .container-fluid .logo {
    width: 120px;
    margin-left: 10px;
    margin-top: 10px; }
  .navbar > .container-fluid .navbar-toggler {
    border: none; }
  .navbar > .container-fluid .navbar-toggler:focus {
    box-shadow: none; }
  .navbar > .container-fluid .nav-link {
    color: aliceblue !important; }
  .navbar > .container-fluid .navbar-nav {
    align-items: flex-end;
    margin-right: 15px; }
  .navbar > .container-fluid .nav-item {
    margin-right: 20px;
    margin-top: 30px; }

.nav-link:hover {
  background-color: #FDB52C;
  border-radius: 7px;
  padding: 7px; }

@media (max-width: 991px) {
  .nav-link {
    color: white !important; }
  svg {
    color: white; }
  .nav-item {
    margin-right: 0px;
    margin-top: 0px; } }

/* HOME*/
.presentacion {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }
  .presentacion .parrafo-presentacion {
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px; }
  .presentacion .uno, .presentacion .enproceso {
    color: #7a7a7a;
    font-family: "poppins";
    font-size: 17pt;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px; }
  .presentacion .dos {
    color: #FDB52C;
    font-family: "poppins";
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    font-weight: 1900;
    padding-bottom: 20px;
    border-bottom: 10px solid #9359E3; }
  .presentacion .tres {
    color: #7a7a7a;
    font-family: "poppins";
    font-size: medium;
    font-weight: 100;
    text-align: center;
    margin-top: 30px; }
  .presentacion .agustinaquintana {
    color: #9359E3;
    font-family: "poppins" extrabold;
    font-size: 30pt;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; }

.imagen-agustina img {
  width: 600px; }

.mockupcelular img {
  width: 600px; }

.curriculum {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .curriculum .lista-capacidades li {
    color: #7a7a7a;
    font-family: "poppins";
    font-size: medium;
    text-align: left;
    line-height: 30.5pt;
    list-style: none; }
  .curriculum .titulo-capacidades {
    margin-top: 100px;
    color: #9359E3;
    font-family: "poppins";
    font-size: xxx-large;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 20px; }

.botones .boton-contactame {
  background-color: #FDB52C;
  border-radius: 15px;
  padding: 15px;
  font-family: "poppins";
  color: white;
  border: 0;
  font-weight: lighter;
  font-size: large;
  box-shadow: 2px 4px 4px 2px #6e6e6e33; }

.botones .boton-curriculum {
  background-color: #FDB52C;
  border-radius: 15px;
  padding: 15px;
  font-family: "poppins";
  color: white;
  border: 0;
  font-weight: lighter;
  font-size: large;
  box-shadow: 2px 4px 4px 2px #6e6e6e33; }

.boton-uno {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-top: -130px; }

.boton-dos {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 280px;
  margin-top: -50px; }

.botones:hover {
  transform: scale(1.2); }

.algunos-proyectos {
  color: #9359E3;
  font-family: "poppins";
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  margin-top: 300px;
  margin-bottom: -100px; }

.container__box {
  max-width: 700px;
  margin: auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  .container__box .box {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all 300ms ease;
    position: relative;
    box-shadow: 0px 0px 30px -5px rgba(43, 43, 43, 0.5);
    transform: rotateZ(360deg);
    transition: all 0.7s; }
  .container__box .box img {
    width: 40px; }
  .container__box .box h5 {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 13px;
    color: #969696; }
  .container__box .box:hover h5 {
    color: #ffffff;
    opacity: 0; }
  .container__box .box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px -15px rgba(129, 129, 129, 0.5);
    background: #9359E3; }
  .container__box .box h4 {
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    bottom: 30px;
    filter: blur(5px);
    opacity: 0; }
  .container__box .box:hover h4 {
    font-size: 13px;
    opacity: 1;
    filter: blur(0px);
    color: #ffffff;
    transition: all 400ms ease; }

@media (max-width: 991px) {
  .curriculum .lista-capacidades li {
    text-align: center; }
  .imagen-agustina img {
    width: 400px; }
  .mockupcelular img {
    width: 0px; }
  .algunos-proyectos {
    margin-top: 70px;
    margin-bottom: -100px; }
  .curriculum .titulo-capacidades {
    margin-top: -100px;
    text-align: center; }
  .presentacion {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
  .container__box {
    justify-content: center;
    margin-top: 100px; }
    .container__box .box img {
      width: 20px; }
    .container__box .box {
      width: 0px;
      height: 0px;
      margin: 50px;
      transition: none;
      position: 0;
      box-shadow: 0px; }
  .box h5 {
    font-size: 10px;
    color: #969696; }
  .box:hover {
    transform: none;
    box-shadow: 0px;
    background: none; }
  .box:hover h5 {
    color: #969696;
    opacity: 100; }
  .circle {
    width: 0px; }
  .circlegrandeuno {
    width: 0px; }
  .circlegrande {
    width: 0px; }
  .circlegrande-dos {
    width: 0px; }
  .circlegrande-tres {
    width: 0px; }
  .rectangulo {
    width: 0px; }
  .boton-uno {
    justify-content: center;
    margin-left: 0px;
    margin-top: 50px; }
  .boton-dos {
    justify-content: center;
    margin-left: 0px;
    margin-top: 50px; }
  .boton-uno {
    justify-content: center;
    margin-left: 0px;
    margin-top: 50px; } }

@media (max-width: 1136px) {
  .boton-dos {
    margin-top: 0px; } }

/* SOBRE MI */
.main-sobre-mi {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-areas: "foto-sobre-mi texto-sobre-mi";
  justify-content: space-between;
  color: #7a7a7a;
  font-family: "poppins";
  font-weight: lighter;
  font-size: medium;
  margin: 50px;
  margin-top: 250px; }
  .main-sobre-mi .texto-sobre-mi {
    margin-top: 80px; }
  .main-sobre-mi .texto-s-m {
    color: #9359E3;
    font-family: "poppins";
    font-size: xxx-large;
    font-weight: inherit;
    margin-bottom: 30px;
    text-decoration: overline; }
  .main-sobre-mi .foto-sobre-mi {
    width: 550px; }
  .main-sobre-mi .foto-sobre-mi:hover {
    transform: scale(1.3); }

foto-sobre-mi {
  grid-area: foto-sobre-mi; }

texto-sobre-mi {
  grid-area: texto-sobre-mi; }

@media (max-width: 991px) {
  .main-sobre-mi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "foto-sobre-mi" "texto-sobre-mi";
    justify-content: space-between; }
  .main-sobre-mi {
    font-size: small; }
  .foto-sobre-mi {
    width: 250px; } }

/* PORTFOLIO */
.titulo-portfolio {
  color: #9359E3;
  font-family: "poppins";
  font-size: xxx-large;
  font-weight: normal;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  margin-top: 250px;
  margin-bottom: -150px; }

/* GRIDS CARD PORTFOLIO */
.grillapadre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "im1 im2 im3" "im4 im5 im6";
  align-items: end;
  width: 70%;
  margin: auto;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px; }
  .grillapadre .im1 {
    grid-area: im1;
    margin-right: 60px; }
  .grillapadre .card-portfolio {
    width: 100%;
    margin: 20px;
    border-radius: 30px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px #dddddd; }
    .grillapadre .card-portfolio .contenido {
      padding: 20px; }
      .grillapadre .card-portfolio .contenido p {
        color: #7a7a7a;
        font-size: small;
        font-family: "poppins"; }
    .grillapadre .card-portfolio h3 {
      color: #9359E3;
      margin-bottom: 10px;
      font-family: "poppins";
      font-weight: bolder; }
    .grillapadre .card-portfolio a {
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      margin-top: 10px;
      margin-left: 150px;
      background-color: #FDB52C;
      color: #ffffff;
      border-radius: 8px;
      box-shadow: 0px 0px 7px #888888;
      font-weight: normal;
      font-family: "poppins"; }
  .grillapadre .card-portfolio img {
    width: 90%;
    margin-left: 15px;
    margin-top: 15px; }
  .grillapadre .im3 {
    grid-area: im3;
    margin-right: 60px; }
  .grillapadre .im2 {
    grid-area: im2;
    margin-right: 60px; }
  .grillapadre .im4 {
    grid-area: im4;
    margin-right: 60px; }
  .grillapadre .im5 {
    grid-area: im5;
    margin-right: 60px; }
  .grillapadre .im6 {
    grid-area: im6;
    margin-right: 60px; }

.contenido a:hover {
  box-shadow: 0px 1px 10px #727272;
  transform: scale(1.2); }

@media (max-width: 991px) {
  .grillapadre {
    grid-template-columns: 1fr;
    grid-template-areas: "im1" "im2" "im3" "im4" "im5" "im6"; } }

/* COMUNIDAD */
.maincomunidad {
  color: #9359E3;
  text-decoration: none;
  font-family: "poppins";
  font-weight: lighter;
  font-size: larger; }

.carousel-inner {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 200px; }

.carousel-item iframe {
  display: flex;
  justify-content: center;
  width: 700px; }

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #ffffff; }

.parrafo-comunidad {
  font-size: medium;
  text-align: center;
  margin-top: 200px;
  color: #7a7a7a; }

@media (max-width: 991px) {
  .carousel-item iframe {
    display: flex;
    justify-content: center;
    width: 400px; } }

@media (max-width: 550px) {
  .carousel-item iframe {
    display: flex;
    justify-content: center;
    width: 250px; } }

/* CONTACTO */
.row {
  margin: 0px;
  padding: 0px; }

.titulo-contacto {
  color: #9359E3;
  font-family: "poppins";
  font-size: xxx-large;
  font-weight: normal;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  margin-top: 250px; }

.parrafo-contacto {
  margin-left: 120px;
  font-size: large;
  font-family: "poppins";
  margin-top: 50px; }

.container-contacto .first_col {
  background-color: #d0bbf8;
  height: 550px;
  position: relative;
  width: 450px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px #5c5c5c;
  margin: auto;
  margin-top: -30px; }

.container-contacto .form-control {
  height: 52px;
  font-size: 14px;
  font-family: "poppins"; }

.container-contacto label {
  font-family: "poppins"; }

.container-contacto .btn-primary {
  background-color: #FDB52C;
  border: none; }

.container-contacto .btn-primary:hover {
  background-color: #ffa600;
  box-shadow: 0px 1px 10px #727272;
  transform: scale(1.2); }

.col-md-6 .img-fluid {
  width: 80%;
  margin-top: 0px; }

@media (max-width: 991px) {
  .col-md-6 .img-fluid {
    width: 0px; }
  .container-contacto .first_col {
    background-color: #d0bbf8;
    height: 450px;
    position: relative;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #5c5c5c;
    margin-top: -30px; }
  .parrafo-contacto {
    margin-left: 20px;
    font-size: medium; } }

/* FOOTER */
.iconos {
  display: flex;
  justify-content: center;
  gap: 10px; }

.linkedin:hover {
  transform: translatey(-7%); }

.instagram:hover {
  transform: translatey(-7%); }

.behance:hover {
  transform: translatey(-7%); }

footer img {
  margin-bottom: 20px;
  width: 35px; }

.copyright {
  color: #313131;
  font-family: "poppins";
  font-size: small;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px; }

/* CARDS */
* {
  margin: 0;
  padding: 0; }

/* Tipografía */
@font-face {
  font-family: "inter";
  src: url(../recursos/Tipografia/Inter-VariableFont_slnt\,wght.ttf); }

@font-face {
  font-family: "poppins";
  src: url(../recursos/Tipografia/Poppins-Light.ttf); }

.card-container {
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px; }
  .card-container .card {
    border-top-left-radius: 135px;
    border-top-right-radius: 135px;
    box-shadow: 3px 3px 17px rgba(170, 170, 170, 0.459); }
  .card-container .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ffc107;
    --bs-btn-border-color: #ffc107;
    margin-left: 100px;
    font-family: "poppins";
    text-transform: uppercase;
    font-size: medium; }
  .card-container .card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: purple;
    font-family: "poppins";
    font-weight: bolder;
    text-transform: uppercase; }
  .card-container .card-text {
    font-family: "poppins";
    font-size: small; }

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #8f6c02;
  border-color: #8f6c02; }

.img-card {
  padding: 20px; }
