/* CARDS */
* {
    margin: 0;
    padding: 0;
}

/* Tipografía */
@font-face {
    font-family: "inter";
    src: url(../recursos/Tipografia/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(../recursos/Tipografia/Poppins-Light.ttf);
}
.algunos-proyectos {
    color: $primario;
    font-family: "poppins";
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 100px;
}

.card-container {    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
    align-items: flex-start;

    .card {border-radius: 40px; border: none; 
        box-shadow: 2px 4px 4px 2px #6e6e6e33;
    }

    .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #FDB52C ;
        --bs-btn-border-color: #FDB52C;
        margin-left: 100px;
        font-family: "poppins"; text-transform: uppercase; font-size: medium;
    }

    .card-title {
        margin-bottom: var(--bs-card-title-spacer-y);
        color: $primario;
        font-family: "poppins";
        font-weight: bolder; text-transform: uppercase;
    }

    .card-text {
        font-family: "poppins"; font-size: small;
    }



}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: $primario;
    border-color:$primario;
}

.img-card { width: auto;
    padding: 0px;
}

.card-dos {margin-top: 50px;}

// CARDS PEQUEÑAS

.container__box {
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
    align-items: flex-start;

    .box {
        width: 210px;
        height: 180px;
        background-color: #ffffff;
        margin: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
        transition: all 300ms ease;
        position: relative;
        box-shadow: 0px 0px 10px -5px rgba(43, 43, 43, 0.26);
        transform: rotateZ(360deg);
        transition: all 0.7s;
    }

    .box img {
        margin-top: -80px;
        width: 100px;
    }

    .box h5 {
        margin-top: 10px;
        font-size: 20px;
        color: #313131;

    }

    .titulo-card-chicas:hover {
        color: white;
    }

    .box:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px -15px rgba(129, 129, 129, 0.5);
        background: $primario;
    }

    .texto-cards-chicas {
        font-size: 12px;
        text-align: center;
        color: rgb(143, 143, 143);
        padding: 8px;
    }

    .texto-cards-chicas:hover {
        color: #ffffff;
    }
}


