/* CARDS */
* {
    margin: 0;
    padding: 0;
}

/* Tipografía */
@font-face {
    font-family: "inter";
    src: url(../recursos/Tipografia/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(../recursos/Tipografia/Poppins-Light.ttf);
}

.card-container {
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; margin-top: 200px; margin-bottom: 200px;


    .card {
        border-top-left-radius: 135px;
        border-top-right-radius: 135px;
        box-shadow: 3px 3px 17px rgba(170, 170, 170, 0.459);
    }

    .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #ffc107;
        --bs-btn-border-color: #ffc107;
        margin-left: 100px;
        font-family: "poppins"; text-transform: uppercase; font-size: medium;
    }

    .card-title {
        margin-bottom: var(--bs-card-title-spacer-y);
        color: purple;
        font-family: "poppins";
        font-weight: bolder; text-transform: uppercase;
    }

    .card-text {
        font-family: "poppins"; font-size: small;
    }



}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #8f6c02;
    border-color: #8f6c02;
}

.img-card {
    padding: 20px;
}