/* FOOTER */
.iconos {
    display: flex;
    justify-content: center;
    gap: 10px
    ; margin-top: 270px;
}

.linkedin:hover {
    transform: translatey(-7%)
}
.instagram:hover {
    transform: translatey(-7%)
}
.behance:hover {
    transform: translatey(-7%)
}

footer img { margin-bottom: 20px;
    width: 35px;
;
}

.copyright {
    color: rgb(49, 49, 49);
    font-family: "poppins";
    font-size: small;
    font-weight: normal;
    ;
    text-align: center;
margin-bottom: 40px;}
    