/* PORTFOLIO */
* {
    margin: 0;
    padding: 0;
}
.body-portfolio {
    background-image: url(../../recursos/Fondohome.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background: cover;
}

.titulo-portfolio {@extend .texto-s-m; margin-bottom: -100px;}

.card-container-portfolio {    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    align-items: flex-start;


    .card {border-radius: 40px; border: none; 
        box-shadow: 0px 0px 15px 0px #6e6e6e33;
    }

    .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #FDB52C ;
        --bs-btn-border-color: #FDB52C;
        margin-left: 100px;
        font-family: "poppins"; text-transform: uppercase; font-size: medium;
    }

    .card-title {
        margin-bottom: var(--bs-card-title-spacer-y);
        color: $primario;
        font-family: "poppins";
        font-weight: bolder; text-transform: uppercase;
    }

    .card-text {
        font-family: "poppins"; font-size: small; color: $texto;
    }



}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: $primario;
    border-color:$primario;
}


.body-portfolio {
    background-image: url(../../recursos/Fondohome.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background: cover;
}

@media (max-width: 991px) {.body-portfolio {
        background-image: none;
        background-image: linear-gradient(to bottom, #9E69E8, #ffffff);
}
.card-container-portfolio { display: flex; justify-content: center; margin-right: 100px;
}
}



