/* HOME*/
.presentacion {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    .parrafo-presentacion {
        margin-top: 70px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .imagen-propia {
        width: 600px;
    }

    .uno {
        color: #9b9b9b;
        font-family: "poppins";
        font-size: 20pt;
        font-weight: lighter;
        text-align: center;
        margin-bottom: 20px;
    }

    .dos {
        color: #FDB52C;
        font-family: "poppins";
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        font-weight: 1900;
        padding-bottom: 20px;
        border-bottom: 10px solid #9359E3;

    }

    .tres {
        color: #9b9b9b;
        font-family: "poppins";
        font-size: medium;
        font-weight: 100;
        text-align: center;
        margin-top: 30px;
    }

    .cuatro {
        color: #9b9b9b;
        font-family: "poppins";
        font-size: medium;
        font-weight: 100;
        ;
        text-align: center;
    }

    .agustinaquintana {
        color: #9359E3;
        font-family: "poppins" extrabold;
        font-size: 30pt;
        font-weight: bold;
        text-align: left;
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
        
    }

    .enproceso {
        color: #9b9b9b;
        font-family: "poppins";
        font-size: 16pt;
        font-weight: lighter;
        margin-bottom: 20px;
    }



}


.curriculum {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .parrafo-capacidades {
        color: #3d3d3d;
        font-family: "poppins";
        font-size: medium;
        text-align: left;
        line-height: 30.5pt;
        list-style: none;
    }

    .cv {
        width: 580px;
        margin-bottom: -200px;
    }

    .titulo-capacidades {
        margin-top: 100px;
        color: #9359E3;
        font-family: "poppins";
        font-size: xxx-large;
        font-weight: bolder;
        text-align: left;
        margin-bottom: 20px;
    }

}



.boton {
    background-color: #FDB52C;
    border-radius: 15px;
    padding: 15px;
    font-family: "poppins";
    color: $botontxt;
    border: 0;
    font-weight: lighter;
    font-size: large;
    box-shadow: 2px 4px 4px 2px #6e6e6e33;
    ;
}

.boton-contactame {
    display: flex;
    justify-content: left;
    margin-left: 295px;
    margin-top: -50px;

}

.boton-curriculum {
    display: flex;
    justify-content: center;
    margin-left: 300px;
}

.nav-link:hover {
    background-color: #8144b6;
    border-radius: 7px;
    padding: 7px;
}

h6 {
    color: $titulos;
    font-family: "poppins";
    font-size: xx-large;
    text-align: center;
    margin-top: 300px;
    margin-bottom: -100px;
}

/* CARDS */
.grilla-home {
    display: grid;
    margin-left: 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "im1 im2 im3";
    width: 70%;
    margin-top: 200px;
    margin-bottom: 200px;
}

.im-1 {
    grid-area: im1;
    margin-right: 60px;
}

.im-3 {
    grid-area: im3;
    margin-right: 60px;
}

.im-2 {
    grid-area: im2;
    margin-right: 60px;
}


.card-home img {
    width: 87%;
    margin-left: 15px;
    margin-top: 15px;
}

.card-home .contenido {
    padding: 20px;
}

.card-home {
    width: 90%;
    border-radius: 30px;
    border-top-right-radius: 125px;
    border-bottom-left-radius: 120px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px rgb(221, 221, 221);
}


.card-home:hover {
    box-shadow: 0px 1px 10px rgb(114, 114, 114);
    transform: translatey(-3%)
}

.card-home h3 {
    color: blueviolet;
    margin-bottom: 10px;
    font-family: "poppins";
    font-weight: bolder;
    font-size: large;
}

.card-home .contenido p {
    color: rgb(78, 78, 78);
    font-size: small;
    font-family: "poppins"
}

.card-home .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-left: 75px;
    background-color: #FDB52C;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 7px rgb(136, 136, 136);
    font-weight: normal;
    font-family: "poppins";
    font-size: small;
}


@media (max-width: 991px) {



    .parrafo-capacidades {
        text-align: center;
    }

    .algunos-proyectos {
        margin-bottom: 100px;
    }

    .boton-contactame {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-top: 50px;

    }

    .boton-curriculum {
        display: flex;
        justify-content: start;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: -80px;
    }

    .cv {
        margin-top: -200px;
    }

    .imagen-propia {
        width: 400px;
    }

    .titulo-capacidades {
        text-align: center;
    }

    .presentacion {
        display: flex;
        grid-template-areas: "cv parrafo-capacidades";
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center
    }

    .grilla-home {
        grid-template-columns: 1fr;
        grid-template-areas:
            "im1"
            "im2"
            "im3";
        margin: auto; 
    }
    .card-home {
    margin-bottom: 80px;}
    .card-home:hover {
        transform: translatey(0%)
    }
}