/* HOME*/
.body-home {
    background-image: url(https://res.cloudinary.com/diiscjwcc/image/upload/v1691210864/Fondohome_tr59rl.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background: cover;
}

.icono-down {
    display: flex;
    justify-content: center;
    margin-top: -80px;
}

/* Animacion hacia abajo*/
.down {
    width: 50px;
    animation-name: down-uno;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}


@keyframes down-uno {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* PRESENTACIÓN */
.presentacion {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .uno {
        color: $textobotones;
        font-family: "poppins";
        font-size: 17pt;
        font-weight: lighter;
        text-align: center;
        margin-top: 30px;

    }

    .dos {
        color: $secundario;
        font-family: "poppins";
        font-size: 25pt;
        font-weight: bold;
        text-align: center;
        font-weight: 1900;
        padding-bottom: 25pt;
        border-bottom: 10px solid #b28be9;

    }

    .agustinaquintana {
        color: $textobotones;
        font-family: "poppins";
        font-size: 35pt;
        font-weight: bold;
        text-align: left;
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;

    }

    .enproceso {
        @extend .uno;
    }


}

.bienvenidos p {
    color: orange;
    font-family: "poppins";
    font-size: 35pt;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 60px;

}


.tres {
    color: $texto;
    font-family: "poppins";
    font-size: medium;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.imagen-agustina img {
    width: 550px;
    margin-top: 120px;
}

.mockupcelular img {
    width: 600px;
}

.texto-me-especializo {
    text-align: center;
    color: $primario;
    font-family: "poppins";
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 150px;
}

.seccion-dos {
    margin-top: -200px;
}

.curriculum {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .lista-capacidades li {
        color: $texto;
        font-family: "poppins";
        font-size: medium;
        text-align: left;
        list-style: none;
        margin-bottom: 25px;

        .icono-capacidades {
            width: 40px;
        }
    }

    .titulo-capacidades {
        margin-top: 100px;
        color: $primario;
        font-family: "poppins";
        font-size: xx-large;
        font-weight: bolder;
        text-align: left;
        margin-top: -20px;
        margin-bottom: 70px;
    }

}

// BOTONES

// mixin

@mixin boton ($color-botones) {
    background-color: $color-botones;
    border-radius: 15px;
    padding: 15px;
    font-family: "poppins";
    color: white;
    border: 0;
    font-weight: lighter;
    font-size: large;
    box-shadow: 2px 4px 4px 2px #6e6e6e33;
}

.botones {
    .boton-contactame {
        @include boton($secundario);
    }

    .boton-curriculum {
        @include boton($secundario);


    }
}

.boton-uno {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}

.boton-dos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
}



.botones:hover {
    transform: scale(1.1)
}

// ESTRATEGIA MOBILE LAST
@media (max-width: 991px) {
    .body-home {
        background-image: url(../../recursos/Fondohome.jpg);
        background-size: 0%;
    }

    .down {
        width: 0px;
    }

    .imagen-agustina img {
        margin-top: -0px;
        width: 350px;
    }

    .mockupcelular img {
        width: 0px;
    }

    .presentacion {
        .uno {
            color: $texto;
            font-family: "poppins";
            font-size: 12pt;
            margin-top: 100px;

        }

        .dos {
            color: $secundario;
            font-size: 20pt;

        }

        .agustinaquintana {
            color: $primario;
            font-size: 25pt;

        }

    }

    .botones .boton-dos {
        margin-top: 50px;
    }

    .bienvenidos p {
        font-size: 0pt;

    }

    .tres {
        margin-left: 50px;
        margin-right: 50px;
        font-size: small;
    }

    .container__box {
        margin-top: -90px;
        align-items: flex-start;
    }

    .curriculum {

        .lista-capacidades li {
            color: $texto;
            font-family: "poppins";
            font-size: medium;
            text-align: center;
            list-style: none;
            margin-bottom: 15px;

            .icono-capacidades {
                width: 20px;
            }
        }

        .titulo-capacidades {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 30px;
        }

    }
    .boton-uno {
        justify-content: center; margin-top:40px;

    }
    

}
