/* SOBRE MI */

.texto-s-m {
    color: $primario;
    font-family: "poppins";
    font-size: xxx-large;
    font-weight: normal;
    text-decoration: overline;
    text-align: center;
    margin-top: 250px;
    margin-bottom: -150px;
}
.main-sobre-mi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "foto-sobre-mi texto-sobre-mi";
    justify-content: space-between;
    color: $texto;
    ;
    font-family: "poppins";
    font-weight: lighter;
    font-size: medium;
    margin: 50px;
    margin-top: 250px;

    .texto-sobre-mi {
        margin-top: 80px;
    }

    .foto-sobre-mi {
        width: 550px;
    }


}

foto-sobre-mi {
    grid-area: foto-sobre-mi;
}

texto-sobre-mi {
    grid-area: texto-sobre-mi
}

@media (max-width: 991px) {

    .main-sobre-mi {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "foto-sobre-mi" "texto-sobre-mi";
        justify-content: space-between;
    }

    .main-sobre-mi {
        font-size: small;

        .foto-sobre-mi {
            width: 350px; margin-top: -100px;
        }
        .texto-sobre-mi {
            margin-top: 10px;
    }
    
    }
}