/* HOME*/
.presentacion {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;


    .parrafo-presentacion {
        margin-top: 70px;
        margin-left: 50px;
        margin-right: 50px
    }

    .imagen-propia {
        width: 600px;
        transform: rotateZ(5deg);
        transition: all 2s;
    }

    .uno {
        color: $texto;
        font-family: "poppins";
        font-size: 17pt;
        font-weight: lighter;
        text-align: center;
        margin-bottom: 20px;

    }

    .dos {
        color: $secundario;
        font-family: "poppins";
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        font-weight: 1900;
        padding-bottom: 20px;
        border-bottom: 10px solid #9359E3;

    }

    .tres {
        color: $texto;
        font-family: "poppins";
        font-size: medium;
        font-weight: 100;
        text-align: center;
        margin-top: 30px;
    }


    .agustinaquintana {
        color: $primario;
        font-family: "poppins" extrabold;
        font-size: 30pt;
        font-weight: bold;
        text-align: left;
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;

    }

    .enproceso {
        @extend .uno;
    }


}

.curriculum {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .parrafo-capacidades {
        color: $texto;
        font-family: "poppins";
        font-size: medium;
        text-align: left;
        line-height: 30.5pt;
        list-style: none;
    }

    .cv {
        width: 580px;
        margin-bottom: -200px;
    }

    .titulo-capacidades {
        margin-top: 100px;
        color: $primario;
        font-family: "poppins";
        font-size: xxx-large;
        font-weight: bolder;
        text-align: left;
        margin-bottom: 20px;
    }

}
// MIXIN

@mixin boton ($color-botones) {
    background-color: $color-botones;
    border-radius: 15px;
    padding: 15px;
    font-family: "poppins";
    color: white;
    border: 0;
    font-weight: lighter;
    font-size: large;
    box-shadow: 2px 4px 4px 2px #6e6e6e33;
}

.botones {
    .boton-contactame {
        @include boton($secundario)
    }
    .boton-curriculum { @include boton($secundario)
    }
}

.boton-contactame {
    display: flex;
    justify-content: left;
    margin-left: 295px;
    margin-top: -50px;
}

.boton-curriculum {
    display: inline-block;
    margin-left: 750px;
}

.algunos-proyectos {
    color: $primario;
    font-family: "poppins";
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 300px;
    margin-bottom: -100px;
}



// CARDS PEQUEÑAS


.container__box {
    max-width: 700px;
    margin: auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .box {
        width: 150px;
        height: 150px;
        background-color: #ffffff;
        margin: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        transition: all 300ms ease;
        position: relative;
        box-shadow: 0px 0px 30px -5px rgba(43, 43, 43, 0.5);
        transform: rotateZ(360deg);
        transition: all 0.7s;
    }

    .box img {
        width: 40px;
    }

    .box h5 {
        margin-top: 30px;
        text-transform: uppercase;
        font-size: 13px;
        color: #969696;

    }

    .box:hover h5 {
        color: #ffffff;
        opacity: 0;
    }

    .box:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px -15px rgba(129, 129, 129, 0.5);
        background: $primario;
    }

    .box h4 {
        text-transform: uppercase;
        font-size: 16px;
        color: #ffffff;
        position: absolute;
        bottom: 30px;
        filter: blur(5px);
        opacity: 0;
    }

    .box:hover h4 {
        font-size: 13px;
        opacity: 1;
        filter: blur(0px);
        color: #ffffff;
        transition: all 400ms ease;
    }
}




@media (max-width: 991px) {

    .parrafo-capacidades {
        text-align: center;
    }

    .algunos-proyectos {
        margin-bottom: 100px;
    }

    .boton-contactame {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-top: 50px;

    }

    .boton-curriculum {
        display: flex;
        justify-content: start;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: -80px;
    }

    .cv {
        margin-top: -200px;
    }

    .imagen-propia {
        width: 300px;
    }

    .titulo-capacidades {
        text-align: center;
    }

    .presentacion {
        display: flex;
        grid-template-areas: "cv parrafo-capacidades";
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center
    }

    // CARDS PEQUEÑAS

    .container__box {
        justify-content: center;
        margin-top: 100px;

        .box img {
            width: 20px;
        }

        .box {
            width: 0px;
            height: 0px;
            margin: 50px;
            transition: none;
            position: 0;
            box-shadow: 0px;

        }
    }

    .box h5 {
        font-size: 10px;
        color: #969696;
    }

    .box:hover {
        transform: none;
        box-shadow: 0px;
        background: none;
    }

    .box:hover h5 {
        color: #969696;
        opacity: 100;
    }

    .circle {
        width: 0px;
    }

    .circlegrandeuno {
        width: 0px;
    }

    .circlegrande {
        width: 0px;

    }

    .circlegrande-dos {
        width: 0px;
    }

    .circlegrande-tres {
        width: 0px;
    }

    .rectangulo {
        width: 0px;

    }
}