/* COMUNIDAD */

.maincomunidad {
    color: $primario;
    text-decoration: none;
    font-family: "poppins";
    font-weight: lighter;
    font-size: larger;
}

.carousel-inner {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 200px;
}
.carousel-item iframe { display: flex;
    justify-content: center;
    width: 700px;}




.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #ffffff;
}

.parrafo-comunidad {
    font-size: medium;
    text-align: center;
    margin-top: 200px;
    color: $texto;
}


@media (max-width: 991px) {


    .carousel-item iframe {display: flex;
        justify-content: center;
        width: 400px;} 

}

@media (max-width: 550px) {


    .carousel-item iframe {display: flex;
        justify-content: center;
        width: 250px;} 

}